{
  "openapi": "3.1.0",
  "info": {
    "title": "PainMap public read-only data contract",
    "version": "2026-05-31.atlas.2",
    "description": "Static API contract for immutable PainMap releases, places, layers, sources, provenance, catalog, and geometry exports."
  },
  "servers": [
    {
      "url": "https://painmap.org"
    }
  ],
  "paths": {
    "/v1/releases.json": {
      "get": {
        "summary": "Get release index",
        "responses": {
          "200": {
            "description": "Release index JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/layers.json": {
      "get": {
        "summary": "Get layer definitions",
        "responses": {
          "200": {
            "description": "Layer definitions JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources.json": {
      "get": {
        "summary": "Get source registry",
        "responses": {
          "200": {
            "description": "Source registry JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/places/BRA.json": {
      "get": {
        "summary": "Get Brazil place profile",
        "responses": {
          "200": {
            "description": "Place profile JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/places/IND.json": {
      "get": {
        "summary": "Get India place profile",
        "responses": {
          "200": {
            "description": "Place profile JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/releases/2026-05-31/manifest.json": {
      "get": {
        "summary": "Get immutable release manifest",
        "responses": {
          "200": {
            "description": "Release manifest JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/latest/manifest.json": {
      "get": {
        "summary": "Get latest release alias manifest",
        "responses": {
          "200": {
            "description": "Latest alias JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/data/provenance-registry.json": {
      "get": {
        "summary": "Get dataset, source, license, evidence-kind, and uncertainty registry",
        "responses": {
          "200": {
            "description": "Provenance registry JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvenanceRegistry"
                }
              }
            }
          }
        }
      }
    },
    "/data/place-measurements.json": {
      "get": {
        "summary": "Get canonical place-level pain-source measurements",
        "responses": {
          "200": {
            "description": "Place measurements JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceMeasurements"
                }
              }
            }
          }
        }
      }
    },
    "/data/place-measurements.csv": {
      "get": {
        "summary": "Get canonical place-level measurements as CSV",
        "responses": {
          "200": {
            "description": "Place measurements CSV",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/places.geojson": {
      "get": {
        "summary": "Get canonical place features for the atlas contract",
        "responses": {
          "200": {
            "description": "GeoJSON feature collection",
            "content": {
              "application/geo+json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureCollection"
                }
              }
            }
          }
        }
      }
    },
    "/data/dcat.json": {
      "get": {
        "summary": "Get DCAT-style dataset catalog",
        "responses": {
          "200": {
            "description": "Dataset catalog JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProvenanceRegistry": {
        "type": "object",
        "required": [
          "build",
          "methodClasses",
          "uncertaintyClasses",
          "licenses",
          "sources",
          "datasets"
        ]
      },
      "PlaceMeasurements": {
        "type": "object",
        "required": [
          "build",
          "measurements"
        ],
        "properties": {
          "build": {
            "type": "object"
          },
          "measurements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceMeasurement"
            }
          }
        }
      },
      "PlaceMeasurement": {
        "type": "object",
        "required": [
          "measurement_id",
          "release_id",
          "place_id",
          "place_name",
          "geometry_level",
          "layer_id",
          "layer_name",
          "evidence_kind",
          "value_type",
          "raw_value",
          "display_value",
          "unit_label",
          "ranking_mode",
          "source_ids",
          "confidence_low",
          "confidence_high",
          "provenance_id",
          "source_vintage",
          "method_note",
          "uncertainty_class",
          "license_id"
        ],
        "properties": {
          "measurement_id": {
            "type": "string"
          },
          "release_id": {
            "type": "string"
          },
          "place_id": {
            "type": "string"
          },
          "place_name": {
            "type": "string"
          },
          "geometry_level": {
            "type": "string"
          },
          "layer_id": {
            "type": "string"
          },
          "layer_name": {
            "type": "string"
          },
          "evidence_kind": {
            "enum": [
              "direct",
              "modeled",
              "proxy",
              "priority-overlay",
              "boundary"
            ]
          },
          "value_type": {
            "type": "string"
          },
          "raw_value": {
            "type": "number"
          },
          "normalized_value": {
            "type": "number"
          },
          "display_value": {
            "type": "string"
          },
          "unit_label": {
            "type": "string"
          },
          "ranking_mode": {
            "type": "string"
          },
          "rank_value": {
            "type": "number"
          },
          "source_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "confidence_low": {
            "type": "number"
          },
          "confidence_high": {
            "type": "number"
          },
          "provenance_id": {
            "type": "string"
          },
          "source_vintage": {
            "type": "string"
          },
          "method_note": {
            "type": "string"
          },
          "uncertainty_class": {
            "enum": [
              "moderate",
              "low",
              "very-low"
            ]
          },
          "license_id": {
            "type": "string"
          }
        }
      },
      "FeatureCollection": {
        "type": "object",
        "required": [
          "type",
          "features"
        ],
        "properties": {
          "type": {
            "const": "FeatureCollection"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  }
}
